* {
  background-color: aqua;
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace;
  color: white;
}

button {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
 border-radius: 6px;
 background-color: aliceblue;
 border: none;
 margin-left: 15px;
 transition: background-color 0.5s ease;
}

button:hover {
  background-color: red;
}

input {
  font-size: 1.2rem;
  border-radius: 6px;
  border: 2px solid;
  background-color: aliceblue;
}

ol {
  padding: 0;
}

li {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 15px;
  margin-bottom: 10px;
}

@media  screen and (max-width:600px) {
  span {
    display: flex;
    justify-content: center;
  }

  button {
    display: block;
    margin: 15px 50px;
  }
}